<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatchFileConvertor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CHS2CHT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BatchFileConvertor.Properties.Settings>
            <setting name="IsRecursive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>.\Output</value>
            </setting>
            <setting name="SupportSubfix" serializeAs="String">
                <value>.cs,.js,.json,.cshtml,.html,.txt</value>
            </setting>
            <setting name="IsIgnoreUnchangeFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreFolder" serializeAs="String">
                <value>bin,obj</value>
            </setting>
            <setting name="IsCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OutputEncoding" serializeAs="String">
                <value>0</value>
            </setting>
        </BatchFileConvertor.Properties.Settings>
    </userSettings>
</configuration>